* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  // 1rem = 10px because 10px/16px = 62.5%
  font-size: 62.5%;
  position: relative;
}

body {
  min-height: 100vh;
  background-color: var(--color-deep-dark);
}
