/* ----- MARGIN CLASSES ----- */

.margin-botton-bigest {
  margin-bottom: var(--margin-bottom-bigest);
}
.margin-botton-big {
  margin-bottom: var(--margin-bottom-big);
}
.margin-botton-normal {
  margin-bottom: var(--margin-bottom-normal);
}
.margin-botton-smaller {
  margin-bottom: var(--margin-bottom-smaller);
}
.margin-botton-smallest {
  margin-bottom: var(--margin-bottom-smallest);
}
