.header {
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;

  //   &::before {
  //     position: absolute;
  //     width: 50%;
  //     height: 50%;
  //     top: 50%;
  //     left: 50%;
  //     transform: translate(-50%, -50%);
  //     background-color: aquamarine;
  //     z-index: 50;
  //   }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
  }
}

.header-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: hidden;
  opacity: 0.4;
  box-shadow: var(--glow-primary-out-big);

  &__content {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.blured-container {
  // position and size
  width: 80vw;
  height: 60vh;
  position: relative;
  z-index: 5;

  padding: var(--padding-default);

  // border
  border: 0.3rem solid var(--color-text-primary-darkest-transparent);
  border-radius: var(--border-radius);

  // other styling
  box-shadow: 0 0 4rem 0.1rem var(--color-primary-darkest-transparent);
  backdrop-filter: blur(8px);
}
